<footer class="footer">
    <div class="container text-center">
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/pdotbdotr_11/" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/ramu-narasinga-189361128/" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link " href="https://github.com/Ramu-Narasinga" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-stackoverflow btn btn-link " href="https://stackoverflow.com/users/8689969/ramu-n" target="_blank">
        <i class="fa fa-stack-overflow fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-codepen btn btn-link " href="https://codepen.io/PdotBdotR" target="_blank">
        <i class="fa fa-codepen fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>
