<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>March 2022 - March 2023</p>
              <div class="h5">Master of Science</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of science, Computer Science</div>
               <h4 class="category">University of Bedfordshire
               </h4>
               <ul>
                  <li>As part of my coursework, I demonstrated my innovative mindset and technical prowess by building a No Code Website Builder using grapesJs with MEAN stack. Additionally, I utilized the open-source web session replay library, RRweb, to capture user activity on the websites I created, thus gaining valuable insights into user behavior.</li>
                  <li>I took on a challenging task of deploying microservices to AWS, showcasing my expertise in cloud computing.</li>
                  <li>Throughout my academic journey, I maintained an impressive average of 75% in group assignments related to cloud computing and project management, demonstrating my strong team player skills, work ethic and dedication to academic excellence.</li>
                  <li>GPA: 70/100</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology, Computer Science</div>
               <h4 class="category">Sreenidhi Institute of Science and Technology</h4>
               <ul>
                  <li>Participated in coding events and cultural fests</li>
                  <li>Basketball Team Captain</li>
                  <li>GPA: 73/100</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2014</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Narayana Jr College
               </h4>
               <ul>
                <li>The High School was mainly focus on the bases of Physics, mathematics, and Chemistry</li>
                <li>GPA: 9.5/10</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2012</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Mother Teresa's High School</h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.</li>
                <li>GPA: 9.8/10</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
