.container {
  padding: 0 2rem;
  background: #323232;
  color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}